.divider {
  height: 65px;
  width: 1px;
  background: var(--gray20);
}

.ske-coupon-point {
  height: 96px;
}
.align_left{
  align-items: left;
  margin-left: 40px;
}
.bounding_box{
  border-radius: 20%;
  border-color: red;
}