.avatar {
  width: 100%;
  height: 100%;
  border-radius: 0%;
}
.account_name {
  margin-left: -155px;
  margin-right: 10px;
}
.my-account {
  height: 100vh;
  padding-top: calc(var(--safe-area-inset-top) + 16px);
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.version {
  flex: 1;
  justify-content: flex-end;
  padding-bottom: 8px;
}
