.avatar {
  width: 42%;
  height: 42%;
}

.my-account {
  height: 100vh;
  padding-top: calc(var(--safe-area-inset-top) + 16px);
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.version {
  flex: 1;
  justify-content: flex-end;
  padding-bottom: 8px;
}