.status-order {
  width: 33.33%;
}
.badge-orders{
  position: absolute;
  min-width: 20px;
  padding: 2px 4px;
  top: 0;
  right: 0;
}
.align_left {
  margin-left: 20%;
}
.align_right {
  margin-right: 45%;
}
